<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Map"></Label>
</ActionBar>

<!--
    Main view area of the page.
    -->

<StackLayout class="page page-content">
    <ScrollView orientation="horizontal">
        <StackLayout orientation="horizontal" style="margin-left:2%;margin-right:2%;height:10%;">
                <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:white;color:black;border-color:black;border-width:1px;" id="deepskyblue" text="All"></Button>
            <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#00539F;" id="deepskyblue" text="Tesco"></Button>
            <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:orange;" text="Sainsbury's"></Button>
            <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#78BE20;" text="Asda"></Button>
            <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#FFDA1A;" text="IKEA"></Button>
            <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#00563F;" text="Morrisons"></Button>

        </StackLayout>

    </ScrollView>

<GridLayout>
        <maps:mapView latitude="{{ latitude }}" longitude="{{ longitude }}"
        mapAnimationsEnabled="{{ mapAnimationsEnabled }}" zoom="{{zoom}}" bearing="{{ bearing }}" tilt="{{ tilt }}"
        padding="{{ padding }}" (mapReady)="onMapReady($event)" markerSelect="onMarkerSelect"
        markerBeginDragging="onMarkerBeginDragging" markerEndDragging="onMarkerEndDragging" markerDrag="onMarkerDrag"
        cameraChanged="onCameraChanged" cameraMove="onCameraMove">
    </maps:mapView>
</GridLayout>
</StackLayout>

