<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>

<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image class="logo" src=""></Image>
        <Label class="header" text="Napier Shopping"></Label>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">

                <StackLayout row="1">
                    <Button class="btn btn-primary" text="Login with Google" (tap)="google()">
                    </Button>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="2">
                    <Button class="btn btn-primary" text="Login with Facebook" (tap)="facebook()";>
                    </Button>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>
    </StackLayout>

</FlexboxLayout>