<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>

<FlexboxLayout class="page">
    <StackLayout class="form">
        
        <Gif src="https://loading.io/spinners/shopping/lg.shopping-cart-loader-icon.gif" height="100" width="100" ></Gif>
        <Label class="header" text="Napier Shopping" style="font-size:30%;color:#f44336;"></Label>
        
        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">

                <StackLayout row="1">
                    <Button class="btn btn-primary" text="Login with Google" (tap)="google()" style="background-color:#f44336;">
                    </Button>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

               <StackLayout row="2">
                    <Button class="btn btn-primary" text="Login with Facebook" (tap)="facebook()" style="background-color:#f44336;";>
                    </Button>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                
                <!-- <StackLayout row="2">
                    <Button class="btn btn-primary" text="Bypass" (tap)="bypassLogin()">
                    </Button>
                </StackLayout> -->

                <!--<ActivityIndicator rowSpan="4" [busy]="processing"></ActivityIndicator>-->
            </GridLayout>
        </PreviousNextView>
    </StackLayout>

</FlexboxLayout>