<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="List" #listTitle></Label>
</ActionBar>

<StackLayout class="page page-content" orientation="vertical">
    <StackLayout verticalAlignment="top" width="100%">
        <TextField hint="Add Item" autocorrect="true" returnKeyType="done" height="10%"></TextField>
    </StackLayout>
    <RadListView class="list-group" [items]="list" verticalAlignment="bottom" width="100%" height="75%" (longPress)="onLongPress($event)">
        <ng-template tkListItemTemplate let-list="item">
            <StackLayout orientation="vertical" class="list-group-item">
                <Label class="nameLabel" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
    <FAB (tap)="addItem()"
    style="height: 10%;width: 20%;margin: 10%;background-color: #ff4081;horizontal-align: right;vertical-align: bottom;"
    icon="res://icon-plus" rippleColor="#f1f1f1" class="fab-button"></FAB>
<!-- </GridLayout> this was a conflict on merge, needs to be tested -->
</StackLayout>
