<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Create a Shopping List"></Label>
</ActionBar>

<StackLayout orientation="vertical">
   
    <Label class="shopName" text="Shopping List Name" style="margin-top:5%;margin-left:30%;"></Label>

    <TextField class="input input-border" autocorrect="false" hint="Shopping List name" text="" returnKeyType="done" style="margin-left:30%;margin-top:5%;"></TextField>
    <Label class="shopColor" text="Shopping List color:" style="margin-top:5%;margin-left:30%;"></Label>
<GridLayout>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-top:-80%;width:12%;height:10%;border-radius:5%;margin-right:80%;background-color:deepskyblue;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-top:-80%;width:12%;height:10%;border-radius:5%;margin-right:50%;background-color:crimson;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-top:-80%;width:12%;height:10%;border-radius:5%;margin-right:20%;background-color:orange;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-top:-80%;width:12%;height:10%;border-radius:5%;margin-right:-10%;background-color:green;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-top:-80%;width:12%;height:10%;border-radius:5%;margin-right:-40%;background-image: url('https://cdn.pixabay.com/photo/2017/05/29/11/47/background-2353576_960_720.jpg');background-repeat: repeat-y;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-top:-80%;width:12%;height:10%;border-radius:5%;margin-right:-70%;background-color:hotpink;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="width:40%;height:10%;margin-top:-45%;border-radius:5%;margin-right:4.5%;" text="Add List"></Button>
    
</GridLayout>




</StackLayout>
