<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Create a Shopping List"></Label>
</ActionBar>

<GridLayout class="page page-content">
   
    <Label class="shopName" text="Shopping List name:" style="margin-bottom:1500px;"></Label>
    <TextField class="input input-border" autocorrect="false" hint="Shopping List name" text="" returnKeyType="done" style="margin-left:500px;margin-bottom:1500px;"></TextField>
    <Label class="shopColor" text="Shopping List color:" style="margin-bottom:1300px;"></Label>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-bottom:1100px;width:150px;height:150px;margin-right:85%;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-bottom:1100px;width:150px;height:150px;margin-right:55%;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-bottom:1100px;width:150px;height:150px;margin-right:25%;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-bottom:1100px;width:150px;height:150px;margin-right:-5%;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-bottom:1100px;width:150px;height:150px;margin-right:-35%;"></Button>
    <Button tap="onTap" class="btn btn-primary btn-active"style="margin-bottom:1100px;width:150px;height:150px;margin-right:-65%;"></Button>


</GridLayout>
