<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Add New Item"></Label>
</ActionBar>

<StackLayout orientation="vertical">
    
    <!-- <Label class="shopName" text="Shop Name" style="margin-top:5%;margin-left:30%;"></Label> -->

    <TextField  class="input input-border" autocorrect="true" hint="Item Name..." text="" returnKeyType="done" style="margin-top:2%;margin-left:5%;margin-right:5%;font-size:20%;font-weight:bold;" [(ngModel)]="title" (returnPress)="update($event)" #textField></TextField>
    <!-- <StackLayout class="hr-light" style="margin-top:2%;margin-bottom:2%;"></StackLayout> -->
    <Label class="shopTitle" text="Select Category" style="margin-top:15%;margin-left:6%;margin-right:5%;font-size:20%;color:rgb(138, 138, 138)"></Label>
    
        
    <ListPicker [items]="categories" style="background-color:white;margin-top:1%;margin-left:5%;margin-right:5%;" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"  #picker></ListPicker>
    <!-- <StackLayout class="hr-light" style="margin-top:2%;margin-bottom:2%;"></StackLayout> -->
<!--     <Label class="shopColor" text="Select list colour" style="margin-top:4%;margin-left:6%;margin-right:5%;font-size:20%;color:rgb(138, 138, 138)"></Label>
 -->    
   <!--  <ScrollView orientation="horizontal" >
           <StackLayout orientation="horizontal" style="margin-left:2%;margin-right:2%;">
                <Button (tap)="color($event)" class="btn btn-primary btn-active"style="border-radius:5%;width:40%;height:40%;background-color:deepskyblue;" id="deepskyblue" ></Button>
                <Button (tap)="color($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:crimson;" id="crimson"></Button>
                <Button (tap)="color($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:orange;" id="orange"></Button>
                <Button (tap)="color($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:green;" id="green"></Button>
                <Button (tap)="color($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:brown;" id="brown"></Button>
                <Button (tap)="color($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:hotpink;" id="hotpink"></Button>
           </StackLayout>
            
    </ScrollView> -->
    <GridLayout>
  
   
    <Button (tap)="addItem()"  class="btn btn-primary btn-active"style="width:65%;height:30%;border-radius:5%;margin-right:4.5%;margin-bottom:4.5%" text="Add Item"></Button>
    
</GridLayout>




</StackLayout>
