<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout orientation="vertical">
    <!-- <Button class="btn btn-primary btn-active" id="button" text="View List" (tap)="viewList($event)"></Button>
 -->
    <!-- <Button class="btn btn-primary btn-active" id="button" text="Add Item" (tap)="showModal()"></Button> -->
    <ScrollView orientation="horizontal">
            <StackLayout orientation="horizontal" style="margin-left:2%;margin-right:2%;height:25%;">
                <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:white;color:black;border-color:black;border-width:1px;padding-right:40%;padding-left:40%;" text="All"></Button>
                <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#00539F;padding-right:40%;padding-left:40%;" text="Tesco"></Button>
                <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:orange;padding-right:40%;padding-left:40%;" text="Sainsbury's"></Button>
                <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#78BE20;padding-right:40%;padding-left:40%;" text="Asda"></Button>
                <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#FFDA1A;padding-right:40%;padding-left:40%;" text="IKEA"></Button>
                <Button (tap)="select($event)" class="btn btn-primary btn-active"style="border-radius:5%;margin-left:0.5%;border-radius:5%;background-color:#00563F;padding-right:40%;padding-left:40%;" text="Morrisons"></Button>
            </StackLayout>
        </ScrollView>
        <StackLayout class="hr-light"></StackLayout>
    <GridLayout>
        <ScrollView>
            <RadListView #myListView class="list-group" [items]="itemList" verticalAlignment="bottom" width="100%" height="105%" row="1" selectionBehavior="None" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
            swipeActions="true" (itemSwipeProgressStarted)="onSwipeCellStarted($event)">
            <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
                <ng-template tkListItemTemplate let-item="item">
                    <StackLayout class="list-group-item" rows="*">
                        <Label [text]="item.itemName"  
                            style="text-decoration: none;font-weight:bold;" (tap)="selectItem($event)" class="list-group-item-heading"></Label>
                            <Label [text]="item.itemCategory" 
                            style="text-decoration: none;" class="list-group-item-text"></Label>

                    </StackLayout>
                </ng-template>
                <GridLayout *tkListItemSwipeTemplate columns="*,auto" class="gridLayoutLayout">
                    <StackLayout style="background-color:red;color:white;" id="delete-view" col="1" height="100%" verticalAlignment="center" class="swipe-right-container" (tap)="onRightSwipeClick($event)">
                        <Label class="p-x-24" [text]="'delete'" horizontalAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
            </RadListView>
        </ScrollView>

        <FAB [class.selected]="isComponentSelected('/addList')" (tap)="onNavItemTap('/addList')"
            style="height: 10%;width: 20%;margin: 10%;background-color: #ff4081;horizontal-align: right;vertical-align: bottom;"
            icon="res://iconplus" rippleColor="#f1f1f1" class="fab-button"></FAB>

    </GridLayout>
</StackLayout>