<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>

</ActionBar>

<StackLayout orientation="vertical">

    <ScrollView orientation="horizontal" verticalAlignment="top">
        <StackLayout orientation="vertical">

        </StackLayout>
    </ScrollView>

    <GridLayout>
        <ListView class="hr-light" [items]="dataItems" verticalAlignment="bottom" width="100%" height="60%">
            <ng-template tkListItemTemplate let-item="item">
                <StackLayout orientation="vertical">
                    <Label class="nameLabel" [text]="item.name"></Label>
                    <Label class="image" [text]="item.image"></Label>
                </StackLayout>
            </ng-template>
            <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal"></ListViewLinearLayout>
        </ListView>

        <FAB [class.selected]="isComponentSelected('/addList')" (tap)="onNavItemTap('/addList')"
            style="height: 10%;width: 20%;margin: 10%;background-color: #ff4081;horizontal-align: right;vertical-align: bottom;"
            icon="res://icon_plus" rippleColor="#f1f1f1" class="fab-button"></FAB>

    </GridLayout>

</StackLayout>
