<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<GridLayout rows="auto *" columns="*" sdkToggleNavButton>
    <GridLayout row="0" col="0" rows="* *" backgroundColor="#adadad">
        <StackLayout row="0" backgroundColor="#adadad">
        </StackLayout>
        <StackLayout row="0" rowSpan="2" class="p-t-15">
            <StackLayout class="m-20 p-l-15 p-r-15">
                <Image [src]="userIcon" height="80" width="80" class="img-circle" borderWidth="1" borderColor="white"></Image>
                <Label [text]="username" class="h2 text-center" textWrap="true"></Label>
                <Label [text]="memberType" class="h4 text-center" textWrap="true"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
    <GridLayout row="1" col="0">
        <ListView class="list-group" [items]="settings" (itemTap)="onItemTap($event)">
            <ng-template let-settings="item">
                <StackLayout class="list-group-item">
                    <Label [text]="settings.nameList" style="font-weight: bold"></Label>
                    <Label [text]="settings.valueList"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</GridLayout>